responses
djangorestframework-simplejwt
django-cors-headers>=2.5.2
packaging
openwisp-sphinx-theme~=1.0.2
freezegun~=1.5.4
django-extensions
pylinkvalidator
lxml~=6.0.0
cssselect~=1.3.0
django-redis~=6.0.0
mock-ssh-server~=0.9.1

#pip install -e git+https://github.com/Insatroute/openwisp-utils.git@main#egg=openwisp_utils[qa,selenium,channels-test]
#pip install -e git+https://github.com/Insatroute/openwisp-monitoring.git@main#egg=openwisp_monitoring
